<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malaria Detection</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head>

<body style="background-color: white;">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #424242;">
        <div class="container">
            <a class="navbar-brand" href="/">Malaria Detection</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container  mt-3">


        <div class="text-center  mt-4">
            <iframe title="Malaria_Detection" width="1024" height="612"
                src="https://app.powerbi.com/view?r=eyJrIjoiOTBjMGM5MGYtZjlmNi00YjFkLThjNjQtMTQzNTE2ZWQyNDRmIiwidCI6IjIyYWViYTRhLTg5MjMtNGZiMy1iZjFhLWY0MjI1YTk5YjBiNiJ9&pageName=3e5c36e43aba21b36689"
                frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>

</body>

</html>